body{
  background-image: url("img/logout.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  margin-left: 550px;
  margin-top: 370px;
}
a{
  text-align: middle;
  margin-left:80px;
  margin-top: 370px;
  font-size: 20px;
  color: black;
}